<style>
html {
	
}
/*NO CASCADIA ON LAPTOP?*/
body {
	font-family: "Cascadia", Lucida Console, monospace;
	background-color: rgb(225, 225, 200);
	margin: 5%;
	margin-top: 100px;
	line-height: 1.5;
	
}
nav {
	margin-left: -5%;
	margin-right: -5%;
	padding: 0;
	background-color: rgb(63, 63, 63);
	position: fixed;
	top: 0;
	width: 100%;
}

nav a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	color: white;
	background-color: rgb(95, 95, 255);
}

nav a:hover:not(.active) {
	background-color: rgb(31, 31, 31);
}

.active {
	background-color: rgb(127, 127, 255);
}

h1 {
	font-family: "Cascadia", Lucida Console, monospace;
	color: rgb(0, 0, 0);
	font-size: 50px;
	line-height: 2;
}

h2 {
	/*font-family: Lucida Console, monospace;*/
	color: rgb(50, 50, 50);
	font-size: 35px;
}

p {
	color: rgb(50, 50, 50);
	font-size: 20px;
	text-align: justify;
}

a:hover {
	color: darkblue;
}

#cover-img {
	width: 45%;
	float: right;
	margin-left: 5%;
	margin-bottom: 2.5%;
	border: solid;
	border-width: 25px;
	border-color: rgb(127, 127, 255);
	border-radius: 2.5%;
}

.panel {
	padding: 25px;
	width: 95%;

}

.panel img {
	border: solid;
	border-width: 25px;
	border-color: rgb(127, 127, 255);
	width: 45%;
	float: left;
}

#title {
	width: 45%;
	background-color: rgb(127, 127, 255);
	font-size: 32px;
	display: block;
	color: white;
	text-align: center;
	padding: 25px 25px;
	text-decoration: none;
}

#title:hover {
	background-color: rgb(95, 95, 255);
}

.panel p {
	width: 50%;
	color: rgb(255, 255, 255);
	background-color: rgb(63, 63, 63);
	float: right;
	font-size: 18px;
}

.panel a {
	color: rgb(127, 127, 255);
}

.panel a:hover {
	color: rgb(95, 95, 255);
}

.flip {
	display: inline-block;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg); 
}
</style>